@charset "utf-8";
@font-face {
    font-family: 'liberation_serifregular';
    src: url('../_css/fontes/liberationserif-regular-webfont.woff2') format('woff2'),
         url('../_css/fontes/liberationserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'existencelight';
    src: url('../_css/fontes/Existence-Light-webfont.eot');
    src: url('../_css/fontes/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_css/fontes/Existence-Light-webfont.woff2') format('woff2'),
         url('../_css/fontes/Existence-Light-webfont.woff') format('woff'),
         url('../_css/fontes/Existence-Light-webfont.ttf') format('truetype'),
         url('../_css/fontes/Existence-Light-webfont.svg#existencelight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Butler';
    src: url('Butler-Bold.woff2') format('woff2'),
        url('Butler-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face{
	font-family: 'nasalization';
	src: url("../_css/fontes/nasalization-rg.ttf");
	font-weight: normal;
	font-style: normal;
}

html {
    height: 100%;
    min-height: 100%;
}
body{
	font-family: 'liberation_serifregular';

}
.temaescuro {
	color: #cfc8c8;
	background-color:  #212529;
	display:flex;
	flex-direction: column;
	min-height: 100%;
}
.formulariodecadastro { 
	margin-top: 40px;
	position: absolute;
	color: #f2eded;
	background-color:#615f5f;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-left: 3px;
	border-style: solid;
	border-color: #454242;
}
.cinza{
	background-color: #e8e9eb !important;
}
.titulo {
	text-align: center !important;
}
.divisor {
	width: 325px;
	margin-top: -12px;
	border-color: #f2eded;
}
.divisorLogin {
	width: 260px;
	margin-top: -12px;
	border-color: #f2eded;
}
.formularioDeCadastroLogin{
position: relative;
display: block;
color: white !important;
background-color: rgba(12, 12, 13, 0.4); 
padding-left: 3px;
padding: 6px;
width: 800px;
font-family: 'existencelight';
float: right;
height: 100%;
border-left: 1px solid gray;
background-image: url(../imagens/fundo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.formularioDeCadastroLogin fieldset{
	margin-top: 120px;
	width: 500px;
	margin-left: 150px;
}

.btn-cadastro{
	margin-left: 50px !important;	
	width: 140px !important;
	font-size: 1.0em !important;
}
.btn-cadastro-emp{
	margin-left: 30px !important;	
	width: 140px !important;
	font-size: 1.0em !important;	

}

.btn-cadastro-pat{
	margin-left: 50px !important;	
	width: 140px !important;
	font-size: 1.0em !important;
	margin-bottom: 10px;
}

.btn-login{
	margin-left: 60px;
	background-color: rgba(56, 55, 53,0.9) !important;
	width: 150px !important;
	font-size: 1.5em !important;
	color: rgba(242, 242, 240,1) !important;
}

.fontnormal{
		font-family: 'liberation_serifregular' !important;
		font-weight: bold;
	}

.preto{
	color: black  !important;
	font-weight: bold !important;
	text-align: center !important;
}
.icone{
	width: 32px;
	height: 30px;
	filter: invert(100%);
	padding: 5px;
	background-color:gray;
	border-radius: 15% !important;
}

.inputlogin{
margin: 0px;
}

.barradelogin input,img{
	padding: 0px;
	margin: 0px;}

.menu{
	z-index: 99;

}

footer#rodape{
border-top: 1px solid gray;
clear: both;
margin-top: 600px;
background-color: #454545;
text-align: center;
color: #f2eded;
}

#rodape p,a{
margin-left: 15px;
}
.linkRodape{
text-decoration: none;
color: #f2eded;
}

.linkRodape:hover{
text-decoration: underline;
color: white;
}

.lateral-info{
	float: left;
	background-color: #ebedeb;
	display: block;
	text-align: center;
	white-space: normal;
	margin-left: 40px;
	margin-top: 60px;

}
body{
	background-color: #ebedeb;
}
.lateral-info h3{
	text-decoration: underline;
	margin-top: 0px;
	font-family: 'nasalization';
}
.lateral-info h6{
	margin-top: -30px;
	font-family: 'Butler';
	font-size: 20px;
}
.lateral-info-imagem{
	width: 120px;
	height: 120px;
	border: 3px solid gray;
	border-radius: 50%;
	padding: 4px;
	margin-right: 40px;
	margin-left: 40px;

}
.lateral-info p{
font-family: 'Butler';
font-size: 19px;
}

.lateral-info a{
	text-decoration: none;
	color: black;
	font-family:'nasalization';
}
.lateral-info a:hover{
	text-decoration: underline;
	color: #f03c3c;
}

.lateral-info-logo{
	width: 32px;
	height: 32px;
	margin-right: 5px;
}
.sobreNos{
	border: 1px solid gray;
	border-radius: 30%;
	padding: 3px;
}


.icone-menu{
	width: 32px;
	height: 32px;
	filter: invert(100%);
}


.linha-artigo {
	background-color: #403030;
	color: white;

}
#divDoInicio {
	background-color: #403030;
	text-align: center;
	text-decoration: underline;
	text-align: center;
	font-family: 'nasalization';
	font-size: 20px;
	color: white;
	margin-bottom: -8px;
}
.artigo{
	background-color: #403030;
	background-color: #403030;
	width: 550px; 
	padding: 5px;
	margin: 30px 50px 30px 150px;
	
}

.carrosel{
	max-height: 900px !important;
}

/*  Slider */

.container-fluid{
	padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
	height: 90vh;
}

#mainSlider .carousel-caption {
	top: 30%;
}

#mainSlider .carousel-caption h2 {
	font-size:50px;
	margin-bottom: 30px;
	color: white;
}

#mainSlider .carousel-caption p {
	font-size:22px;
font-weight: 300px;
margin-bottom: 100px;
color: white;
}

.main-btn {
	background-color: #65DAF9;
	color: white;
	text-transform: uppercase;
	width: 200px;
	height: 60px;
	padding: 10px 20px;
	border-radius: 30px;
	border: 3px solid transparent;
	transition: .5s;
}

.main-btn:hover{
	text-decoration: none;
	color: white;
	background-color: transparent;
	border-color: #65DAF9;
}

.carousel-indicators .active{
background-color: #65DAF9;

}

#rodape-inicio{
border-top: 1px solid gray;
clear: both;
background-color: #454545;
text-align: center;
color: #f2eded;
width: 100%;
height: 65px;
}


#rodape-inicio p,a{
margin-left: 15px;
}





.justificado {
	text-align: justify;
	width: 440px;
}

