#fundooficio {
    background-image: url("../documentos/interno/elementos/img/foto_oficio.png") !important;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    width: 210mm;
}

#divform {
    float: right;
    width: 100mm;
}

#interface {
    margin: 0px auto 0px auto;
    font-family: 'Liberation Serif';
    font-size: 11pt;
}

#numeracaoOficio {
    margin-top: 56mm;
    margin-left: 29mm;
    margin-right: 15mm;
    width: 106mm;
    height: 5mm;
    background-color: red;
    
}

#input-numeracaoOficio {
    width: 108mm;
    height: 5mm;
    font-weight: bold;
}

#dataOficio {
    margin-top: 2mm;
    margin-left: 138mm;
    margin-right: 15mm;
    width: 58mm;
    height: 7mm;
    background-color: blue;
}

#input-dataOficio {
    width: 58mm;
    height: 7mm;
}

#enderecamentoOficio {
    margin-top: -1mm;
    margin-left: 29mm;
    margin-right: 15mm;
    width: 88mm;
    height: 23mm;
    background-color: green;
}

#input-enderecamentoOficio {
    width: 88mm;
    height: 23mm
}

#assuntoOficio {
    margin-top: 0mm;
    margin-left: 29mm;
    margin-right: 15mm;
    width: 120mm;
    height: 10mm;
}

#input-assuntoOficioB {
    width: 17mm;
    height: 5mm;
}

#input-assuntoOficio {
    width: 100mm;
    height: 5mm;
    margin-left: -1mm;
}

#corpoOficio {
    margin-top: -1mm;
    margin-left: 29mm;
    margin-right: 15mm;
    width: 166mm;
    height: 125mm;
}

#input-corpoOficio {
    width: 168mm;
    height: 125mm;
}

#fechoOficio {
    margin-top: 9mm;
    margin-left: 29mm;
    margin-right: 15mm;
    width: 40mm;
    height: 5mm;
    background-color: grey;
}

#input-fechoOficio {
    width: 42mm;
    height: 5mm;
}

#assinaturaOficio {
    margin-top: 14mm;
    margin-left: 73mm;
    margin-right: 15mm;
    width: 43mm;
    height: 5mm;
    background-color: gold;
}

#input-assinaturaOficio {
    width: 80mm;
    height: 5mm;
    text-align: center;}

    #input-matricula_doc_ofc{
        width: 65mm;
        height: 6mm;
        text-align: center;
    }

#cargoOficio {
    margin-top: 0mm;
    margin-left: 83mm;
    margin-right: 15mm;
    width: 43mm;
    height: 5mm;
    background-color: coral;
}

#input-cargoOficio {
    width: 65mm;
    height: 5mm;
    text-align: center;
}

#input-cardOfc {
    margin-top: -130px;
    margin-left: 720px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
}


/*Classes*/

.divoficio {
    margin-left: 20mm;
  
   
    border-radius: 15px;
    height: 297mm;
    display: relative;
}


/* Gerar Portaria Ofício */

#fundo-port {
    background-image: url("/TCC/documentos/interno/elementos/img/foto_portaria.jpg") !important;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    width: 210mm;
}

#titulo_doc_port {
    margin-top: 50mm;
    margin-left: 29mm;
    margin-right: 15mm;
    width: 106mm;
    height: 5mm;
    background-color: red;
}

#input-titulo_doc_port {
    width: 130mm;
    height: 5mm;
}

#resumo-port {
    margin-top: 1mm;
    margin-left: 100mm;
    margin-right: 15mm;
    width: 88mm;
    height: 21mm;
    background-color: green;
}

#input-resumo_doc_port {
    width: 88mm;
    height: 21mm
}

#texto-port {
    margin-top: 1mm;
    margin-left: 30mm;
    margin-right: 16mm;
    width: 158mm;
    height: 115mm;
}

#input-texto-port {
    width: 158mm;
    height: 115mm;
}

#fecho-port {
    margin-top: 18mm;
    margin-left: 30mm;
    margin-right: 15mm;
    width: 40mm;
    height: 5mm;
    background-color: grey;
}

#input-fecho-port {
    width: 42mm;
    height: 5mm;
}

#assinatura-port {
    margin-top: 12mm;
    margin-left: 91mm;
    margin-right: 15mm;
    width: 43mm;
    height: 5mm;
    background-color: gold;
}

#input-assinatura-port {
    width: 45mm;
    height: 5mm;
}

#cargo-port {
    margin-top: 0mm;
    margin-left: 91mm;
    margin-right: 15mm;
    width: 43mm;
    height: 5mm;
    background-color: coral;
}

#input-cargo-port {
    width: 45mm;
    height: 5mm;
}

#input-card-port {
    margin-top: -130px;
    margin-left: 720px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
}


/* Gerar Ata */

#fundo_doc_ata {
    background-image: url("/TCC/documentos/interno/elementos/img/foto_ata.jpg") !important;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    float: left;
    width: 210mm;
}

#titulo_doc_ata {
    margin-top: 50mm;
    margin-left: 99mm;
    margin-right: 15mm;
    width: 29mm;
    height: 6mm;
    background-color: white;
}

#input-num_doc_ata {
    width: 20mm;
    height: 5mm;
    margin-top: 1mm;
}

#data_doc_ata {
    margin-top: 5mm;
    margin-left: 110mm;
    margin-right: 5mm;
    width: 20mm;
    height: 10mm;
}

.input-data_doc_ata {
    width: 88mm;
    height: 6mm;
    text-align: right;
}

#convoc_doc_ata {
    margin-top: 11mm;
    margin-left: 66mm;
    margin-right: 5mm;
    width: 20mm;
    height: 10mm;
}

#input-convoc_doc_ata {
    width: 88mm;
    height: 6mm;
    transform: scale(0.8);
    
}

.select-convoc_doc_ata {
    font-size: 10px;
    width: 25mm;
    height: 8mm;
    transform: scale(0.9);
    margin-top: 0mm;
    margin-left: -6mm;
}

#input-sec_doc_ata {
    width: 88mm;
    height: 6mm;
    transform: scale(0.8);
    margin-left: -7mm;
    margin-top: -1mm;
}
#input-pautas_doc_ata {
    margin-left: 30mm;
    margin-top:22mm;
    height:30mm;
}

#input-enc_doc_ata{
    margin-left: 30mm;
    margin-top:11mm;
    height:60mm;
    width: 160mm;

}
#input-presentes_doc_ata{
    margin-left: 30mm;
    margin-top:16mm;
    height:60mm;
    width: 160mm;

}



/* Gerar ata - Segunda página */
#fundo_doc_ata_dois{
    background-image: url("/TCC/documentos/interno/elementos/img/foto_ata_2.jpg") !important;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: blue;
    position: relative;
    float: left;
    width: 210mm;
    margin-top: 1mm;
}
#texto_doc_ata {
    margin-top: 40mm;
    margin-left: 30mm;
    margin-right: 16mm;
    width: 158mm;
    height: 205mm;
}

#input-texto_doc_ata {
    width: 158mm;
    height: 150mm;
}

#matricula_doc_ata {
   
    margin-left: 85mm;
    margin-right: 15mm;
    width: 65mm;
    height: 5mm;
    background-color: grey;
    text-align: center;
}

#input-matricula_doc_ata {
    width: 65mm;
    height: 6mm;
    text-align: center;
}

#assinatura_doc_ata {
    
    margin-left: 75mm;
    margin-right: 15mm;
    width: 65mm;
    height: 5mm;
    background-color: gold;
    text-align: center;
}

#input-assinatura_doc_ata {
    width: 80mm;
    height: 5mm;
    text-align: center;
}

#cargo_doc_ata {
    margin-top: 0mm;
    margin-left: 85mm;
    margin-right: 15mm;
    width: 65mm;
    height: 5mm;
    
   
}

#input-cargo_doc_ata {
    width: 65mm;
    height: 5mm;
    text-align: center;
}

#input-card_doc_ata {
    margin-top: -180mm;
    margin-left: 195mm;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
}