/* FONTES */

@font-face {
    font-family: 'nasalization';
    src: url("../_css/fontes/nasalization-rg.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url("../_css/fontes/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}


/* ESTILIZAÇÃO DO MENU */

body {
    background-color: rgb(14, 14, 14) !important;
}

* {
    /* Serve para resetar as margens da página */
    margin: 0px;
    padding: 0px;
}

.log {
    margin-top: -30px;
}

.menu {
    /* Setamos a largura, Altura e Cor da Nav */
    position: absolute;
    top: 0;
    width: 99.8%;
    height: 50px;
    background-color: #006144;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 99;
    margin-left: 2px;
    font-size: 10pt;
    border-radius: 10px;
}

.menu ul {
    /* Retiramos o estilo nativo das listas e ajeitamos a posição */
    list-style: none;
    position: relative;
}

.menu ul li {
    /* Designamos o espaço máximo das <li> */
    width: 150px;
    float: left;
}

.menu a {
    /* configuramos o <a> */
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    /* Cor das Opções: */
    background-color: #006144;
    color: white;
}

.menu ul ul {
    /* configuração para fazer com que as opções do dropdown fiquem 
    invisiveis até que se passe o mouse por cima */
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    /*Faz com que depois que se passe o mouse por cima o dropdown fique visível */
    visibility: visible;
}

.menu a:hover {
    /* estilizamos a cor das opções quando passamos o mouse */
    background-color: #f4f4f4;
    color: black;
}

.menu ul ul li {
    /* criamos uma pequena linha separando cada opção do dropdown */
    float: none;
    border-top: solid 1px #cccccc;
}

.menu ul ul li a {
    background-color: #069;
}

.label_menu {
    /* Configuração do icone da versão reduzida */
    padding: 5px;
    background-color: #006144;
    color: white;
    font-family: "Arial";
    text-align: left;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
}

#bt_menu {
    display: none;
}

.logo {
    /* configuração da logo do inicio */
    width: 50px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

.li_logo {
    margin-right: -80px;
    margin-left: 10px;
    width: 150px !important;
}

.navbar-toggler-icon {
    filter: invert(75%) !important;
    padding: 10px !important;
    width: 50px !important;
    height: 50px !important;
    margin-top: -1px;
}

.usu {
    width: 80px !important;
    height: 50px !important;
}

.usu:hover {
    background-color: white;
}

.usu:hover img {
    filter: invert(0%) !important;
}


/* O @Media vai servir para dizer o que deve acontecer 
as classes quando o widht ficar menor ou igual a 900px */

@media(max-width: 999px) {
    .menu {
        margin-top: 2px;
        margin-left: -100%;
        font-size: 12pt;
    }
    #bt_menu:checked~.menu {
        /* Faz com que depois que checado a "check-box" as opções voltem a aparecer  */
        margin-left: 0;
        margin-top: 2px;
        background: url("../imagens/fundo_login2.jpg");
    }
    .menu ul li,
    .usu {
        width: 100%;
        float: none;
    }
    .usu {
        background-color: #006144;
        width: 100% !important;
        margin-top: -10px;
    }
    .usu img {
        margin-left: 44% !important;
    }
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul {
        height: auto;
        max-height: 500px;
        /* O max height vai variar dependendo do número de itens */
    }
    .label_menu {
        display: block;
        width: 100%;
    }
    .invi {
        visibility: hidden;
    }
    .reduzido {
        width: 100%;
    }
    .espacamento {
        padding-left: 42%;
    }
}


/* CAIXA DE ALERTA */

.alerta {
    width: 275px;
    margin: 50px auto;
    background: #efcec9 no-repeat scroll;
    border: 1px solid #ad3f30;
    color: #943738;
    padding: 10px 10px 10px 68px;
    min-height: 48px;
    border-radius: 25px;
}


/* CADASTROS */

.tema-escuro {
    background-color: #212529;
}

.cadastro {
    /*     background-color: darksalmon; */
    width: 42%;
    position: relative;
    padding: 10px;
    color: whitesmoke;
    margin: 50px auto;
    font-family: 'roboto';
    font-size: 18px;
    margin-top: 90px;
}

.cadastro input,
select {
    margin-top: 10px;
    padding: 5px;
}

.cadastro h2 {
    background-color: rgb(187, 20, 20);
    padding: 15px;
    font-family: 'nasalization';
    color: whitesmoke;
    border-radius: 5px;
}

.cadastro hr {
    margin-top: 10px;
    width: 90%;
    border-color: white;
    margin-left: 5%;
}

.cadastro input,
select {
    padding: 8px;
    margin: 2px;
    border-radius: 25px;
    margin-left: 5%;
    border: none;
    margin-top: 10px;
    font-family: 'roboto';
    font-size: 17px;
    color: #1a1c1b;
}

.cadastro input[type="text"],
input[type="date"],
input[type="number"],
input[type="password"],
input[type="email"] {
    width: 75%;
}

.cadastro textarea {
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
    font-family: 'roboto';
    font-size: 17px;
    color: #1a1c1b;
}

.cadastro label {
    display: block;
    margin-left: 5%;
}

.cadastro input[type="submit"],
.cadastro input[type="reset"] {
    background-color: #d66f33;
    color: white;
    padding: 5px;
    width: 40%;
    height: 40px;
    font-size: 16px;
    font-family: 'roboto';
}

.cadastro input[type="submit"]:hover {
    background-color: #c94b00;
    transition: 1s;
}

.cadastro input[type="reset"]:hover {
    background-color: #c94b00;
    transition: 1s;
}

.cadastro img {
    width: 45px;
    height: 40px;
    margin-bottom: -10px;
    filter: invert(100%);
}

#situ,
.post {
    display: inline-block;
}

.cadastro textarea:hover {
    background-color: lightgray;
}

.cadastro input:hover {
    background-color: lightgray;
}

.cadastro select:hover {
    background-color: lightgray;
}

@media screen and (max-width: 900px) {
    .cadastro {
        width: 60%;
    }
    #situ,
    #post {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .cadastro {
        width: 60%;
    }
    #situ,
    #post {
        display: block;
    }
}


/* ESTILO DO INÍCIO */

.extra img {
    max-height: 500px;
}

.linha-regras {
    margin: 5%;
    position: relative;
}

.regras {
    width: 30%;
    height: 200px;
    color: whitesmoke;
    font-size: 18px;
    font-family: 'roboto';
    display: inline-block;
    margin-left: 8%;
    margin-right: 11%;
}

.regras h2,
p,
img {
    margin-left: 10px;
    margin-top: 3px;
    text-align: justify;
}

.regras img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: -5px;
    filter: invert(100%);
    margin-left: -5px;
}

@media screen and (max-width: 900px) {
    .regras {
        display: block;
        width: 50%;
        margin-left: 20%;
    }
}


/* ESTILO DO LISTAR */

.barra-listar {
    margin-top: 5%;
    margin-bottom: 7px;
    margin-left: 3%;
    padding: 5px;
    color: whitesmoke;
    font-size: 24px;
}


/* ESTILO DO FOOTER/RODAPÉ */

#rodape {
    width: 100%;
    font-size: 18px;
    font-family: 'roboto';
    background-color: rgb(14, 14, 14) !important;
    ;
    color: whitesmoke;
}

#rodape hr {
    border-color: whitesmoke;
}

#rodape p {
    text-align: center;
}

#rodape a {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
}

#rodape a:hover {
    color: turquoise;
}


/* ESTILO DO LISTAR */

.container {
    background-color: rgb(14, 14, 14) !important;
}

.listar-escuro th {
    background-color: #262627 !important;
    color: white;
    border: none;
}

.listar-escuro td {
    background-color: #3a3636;
    color: white;
    border: none;
}

.dataTables_info {
    color: white !important;
}

.table tr:last-child th:last-child {
    border-top-right-radius: 20px;
}

.table tr:last-child th:first-child {
    border-top-left-radius: 20px;
}

.panel {
    background-color: rgb(14, 14, 14);
    color: white;
    margin-top: 100px;
}

.panel-heading {
    background-color: rgb(187, 20, 20) !important;
    color: white !important;
    font-size: 25px !important;
    text-align: center !important;
    font-family: 'nasalization' !important;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: -40px;
}

.dataTables_wrapper {
    background-color: #474444;
    padding: 5px;
    border-radius: 20px;
    width: fit-content;
}

.table_bc .dataTables_wrapper {
    width: 100%;
}

.dataTables_wrapper select {
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
}

.dataTables_wrapper label {
    color: white !important;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.table {
    border: none;
}


/* Estilo painel bimestre do Listar Bolsa Cópia*/

#painel-bimestre {
    background-color: #48D1CC !important;
}


/* Modal de Configuração do Bimestre do Listar Bolsa Cópia */

#modal-bimestre {
    color: #B22222 !important;
}

.modal-body {
    color: black;
    font-size: 15px;
    height: 470px;
}

.modal-body .cadastro {
    width: 90%;
    height: 90%;
    margin-top: -8px;
}

.modal-body label {
    margin-bottom: 1px;
    margin-left: 10px;
}

.modal-body input[type="text"],
input[type="date"] {
    margin-top: 1px;
    margin-bottom: 24px;
}

.botao {
    border-radius: 10px;
    color: white;
    background-color: rgb(206, 27, 27);
    border: none;
    padding: 5px;
    width: 34%;
}

.modal-footer {
    font-family: 'roboto';
    font-size: 14pt;
}

#TituloModalCentralizado {
    color: white;
    font-family: 'nasalization';
    font-size: 14pt;
}

.bimestre {
    margin-left: 5px;
    margin-top: 30px !important;
}

.bim {
    margin-left: 70px;
    margin-top: -40px;
    margin-right: 20px;
    width: 150px;
}

.modal-header span {
    filter: invert(100%) !important;
}

.modal-header,
.modal-footer,
.modal-body {
    background-color: rgb(15, 15, 15);
}

.modal-body select {
    width: 70%;
}

.alt-bimestre {
    height: 20%!important;
}

.cad-titulo {
    width: 90%;
    margin-left: 20px;
}

.cad-titulo img {
    margin-top: -15px;
}

.divisor_bc {
    margin-top: 10px;
    width: 20%;
    border-color: white;
    margin-left: 40%;
}

.panel-heading_bc input[type="text"] {
    width: 120px !important;
}


/* Botões quando estão desativados */

.bt-desativado {
    background: #eee !important;
    /*Simular campo inativo */
    pointer-events: none;
    touch-action: none;
    color: gray !important;
}


/* Altera os inputs do H2 do Bolsa Cópia*/

h6 input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
}


/* Configurando Tabelas que sejam muito grandes*/

.panel-grande {
    width: fit-content;
}

.container-grande {
    background-color: rgb(14, 14, 14) !important;
    width: fit-content;
    margin-left: 5%;
}


/* A tabela do Usuários precisava de um estilo diferente*/

.container-grande-usu {
    background-color: rgb(14, 14, 14) !important;
    width: fit-content;
}

@media screen and (max-width: 999px) {
    .panel-grande {
        width: 100%;
    }
    .container-grande {
        background-color: rgb(14, 14, 14) !important;
        width: 100%;
    }
}

#tabela_port_wrapper {
    width: 100%;
}


/* Painel de Fardas */

.painel-dados {
    background: #333;
    width: 900px;
    margin: auto;
    padding: 10px;
    text-align: center;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: white;
}

div.fardas-ventidas-container {
    height: 100%;
}

.contador-tamanho {
    width: fit-content;
    max-height: 100px;
    background-color: crimson;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 2px;
    float: right;
}

div#fardas_chart {
    margin-left: 400px;
    position: relative;
    float: center;
}


/* Página configuraçoes de lote */

#config-lote {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    padding: 0;
}


/* Diário Oficial do GEVP */

#painel-diario {
    background-color: #7DE9F6 !important;
    color: white !important;
    font-size: 18px !important;
    text-align: center !important;
    font-family: 'serif' !important;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: -30px;
}