/* FONTES */

@font-face {
    font-family: 'nasalization';
    src: url("../_css/fontes/nasalization-rg.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url("../_css/fontes/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}


/* ESTILIZAÇÃO DO MENU */

* {
    /* Serve para resetar as margens da página */
    margin: 0px;
    padding: 0px;
}

.log {
    margin-top: -30px;
}

.menu {
    /* Setamos a largura, Altura e Cor da Nav */
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: #006144;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 99;
}

.menu ul {
    /* Retiramos o estilo nativo das listas e ajeitamos a posição */
    list-style: none;
    position: relative;
}

.menu ul li {
    /* Designamos o espaço máximo das <li> */
    width: 150px;
    float: left;
}

.menu a {
    /* configuramos o <a> */
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    /* Cor das Opções: */
    background-color: #006144;
    color: white;
    max-height: 50px;
}

.menu ul ul {
    /* configuração para fazer com que as opções do dropdown fiquem 
    invisiveis até que se passe o mouse por cima */
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    /*Faz com que depois que se passe o mouse por cima o dropdown fique visível */
    visibility: visible;
}

.menu a:hover {
    /* estilizamos a cor das opções quando passamos o mouse */
    background-color: #f4f4f4;
    color: black;
}

.menu ul ul li {
    /* criamos uma pequena linha separando cada opção do dropdown */
    float: none;
    border-top: solid 1px #cccccc;
}

.menu ul ul li a {
    background-color: #069;
}

.label_menu {
    /* Configuração do icone da versão reduzida */
    padding: 5px;
    background-color: #006144;
    color: white;
    font-family: "Arial";
    text-align: left;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
}

#bt_menu {
    display: none;
}

.logo {
    /* configuração da logo do inicio */
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

.li_logo {
    margin-right: -70px;
    margin-left: 30px;
}

.usu_icone {
    filter: invert(75%);
    padding: 10px;
    width: 30px;
    height: 30px;
}

.usu {
    width: 80px !important;
    height: 50px !important;
}

.usu:hover {
    background-color: white;
}

.usu:hover img {
    filter: invert(0%);
}


/* tamanho da fonte li diário oficial da agremiação e gestão passada menu */

#li_gestaopassada {
    font-size: 85%;
}

#li_doa {
    font-size: 90%;
}


/* O @Media vai servir para dizer o que deve acontecer 
as classes quando o widht ficar menor ou igual a 900px */

@media(max-width: 900px) {
    .menu {
        margin-top: 2px;
        margin-left: -100%;
        font-size: 12pt;
    }
    .li_logo {
        margin-left: 47%;
    }
    #bt_menu:checked~.menu {
        /* Faz com que depois que checado a "check-box" as opções voltem a aparecer  */
        margin-left: 0;
        margin-top: 2px;
        background-color: #0c1ee8;
    }
    .menu ul li {
        width: 100%;
        float: none;
    }
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul {
        height: auto;
        max-height: 400px;
        /* O max height vai variar dependendo do número de itens */
    }
    .label_menu {
        display: block;
        width: 100%;
    }
}


/* CAIXA DE ALERTA */

.alerta {
    width: 275px;
    margin: 50px auto;
    background: #efcec9 no-repeat scroll;
    border: 1px solid #ad3f30;
    color: #943738;
    padding: 10px 10px 10px 68px;
    min-height: 48px;
    border-radius: 25px;
}


/* CADASTROS */

.tema-escuro {
    background-color: #212529;
}

.cadastro {
    /*     background-color: darksalmon; */
    width: 42%;
    position: relative;
    padding: 10px;
    color: whitesmoke;
    margin: 50px auto;
    font-family: 'roboto';
    font-size: 18px;
    margin-top: 90px;
}

.cadastro input,
select {
    margin-top: 10px;
    padding: 5px;
}

.cadastro h2 {
    background-color: rgb(187, 20, 20);
    padding: 15px;
    font-family: 'nasalization';
    color: whitesmoke;
    border-radius: 5px;
}

.cadastro hr {
    margin-top: 10px;
    width: 90%;
    border-color: white;
    margin-left: 5%;
}

.cadastro input,
select {
    padding: 8px;
    margin: 2px;
    border-radius: 25px;
    margin-left: 5%;
    border: none;
    margin-top: 10px;
    font-family: 'roboto';
    font-size: 17px;
    color: #1a1c1b;
}

.cadastro input[type="text"],
input[type="date"],
input[type="number"],
input[type="password"],
input[type="email"] {
    width: 75%;
}

.cadastro textarea {
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
    font-family: 'roboto';
    font-size: 17px;
    color: #1a1c1b;
}

.cadastro label {
    display: block;
    margin-left: 5%;
}

.cadastro input[type="submit"],
.cadastro input[type="reset"] {
    background-color: #d66f33;
    color: white;
    padding: 5px;
    width: 40%;
    height: 40px;
    font-size: 16px;
    font-family: 'roboto';
}

.cadastro input[type="submit"]:hover {
    background-color: #c94b00;
    transition: 1s;
}

.cadastro input[type="reset"]:hover {
    background-color: #c94b00;
    transition: 1s;
}

.cadastro img {
    width: 45px;
    height: 40px;
    margin-bottom: -10px;
    filter: invert(100%);
}

#situ,
#post {
    display: inline-block;
}

.cadastro textarea:hover {
    background-color: lightgray;
}

.cadastro input:hover {
    background-color: lightgray;
}

.cadastro select:hover {
    background-color: lightgray;
}

@media screen and (max-width: 900px) {
    .cadastro {
        width: 60%;
    }
    #situ,
    #post {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .cadastro {
        width: 60%;
    }
    #situ,
    #post {
        display: block;
    }
}


/* ESTILO DO INÍCIO */

.extra img {
    max-height: 500px;
}

.linha-regras {
    margin: 5%;
    position: relative;
}

.regras {
    width: 30%;
    height: 200px;
    color: whitesmoke;
    font-size: 18px;
    font-family: 'roboto';
    display: inline-block;
    margin-left: 8%;
    margin-right: 11%;
}

.regras h2,
p,
img {
    margin-left: 10px;
    margin-top: 3px;
    text-align: justify;
}

.regras img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: -5px;
    filter: invert(100%);
    margin-left: -5px;
}

@media screen and (max-width: 900px) {
    .regras {
        display: block;
        width: 50%;
        margin-left: 20%;
    }
}


/* ESTILO DO LISTAR */

.barra-listar {
    margin-top: 5%;
    margin-bottom: 7px;
    margin-left: 3%;
    padding: 5px;
    color: whitesmoke;
    font-size: 24px;
}


/* ESTILO DO FOOTER/RODAPÉ */

#rodape {
    width: 100%;
    font-size: 18px;
    font-family: 'roboto';
    background-color: #212529;
    color: whitesmoke;
}

#rodape hr {
    border-color: whitesmoke;
}

#rodape p {
    text-align: center;
}

#rodape a {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
}

#rodape a:hover {
    color: turquoise;
}


/* ESTILO DO LISTAR */

.listar-escuro th {
    background-color: #262627 !important;
    color: white;
}

.listar-escuro td {
    background-color: #3a3636;
    color: white;
}

.panel {
    background-color: #202529;
    color: white;
    margin-top: 100px;
}

.panel-heading {
    background-color: #943738 !important;
    color: white !important;
    font-size: 25px !important;
    text-align: center !important;
    font-family: 'nasalization' !important;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.dataTables_wrapper {
    background-color: rgb(19, 17, 17);
    padding: 5px;
    border-radius: 20px;
}

.dataTables_wrapper select {
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
}

.dataTables_wrapper label {
    color: white !important;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
}


/* Estilo painel bimestre do Listar Bolsa Cópia*/

#painel-bimestre {
    background-color: #48D1CC !important;
}


/* Modal de Configuração do Bimestre do Listar Bolsa Cópia */

#modal-bimestre {
    color: #B22222 !important;
}

.modal-body {
    color: black;
    font-size: 15px;
}