html,
body {
    padding: 0;
    margin: 0;
}

.menu-header {
    color: #FFF !important;
}

.main-sidebar {
    background-color: #222c3c;
    min-width: 250px;
    max-width: 250px;
    /* min-height: calc(100vh - 56px); */
    transition: all 0.3s;
    position: fixed;
    top: 0;
    float: top;
    height: 100vh;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22)!important;
    overflow: auto;
}


/*Define o tamanho e a distância dos itens do menu*/

.main-sidebar ul li a {
    display: block;
    padding: 0.75rem 1rem;
    color: #c7cace;
    text-decoration: none;
}

.main-sidebar ul li ul li ul li a {
    display: block;
    padding-left: 3.85rem;
    color: #c7cace;
    text-decoration: none;
}


/*Define o hover do menu lateral e também ilumina quando está na página do link*/

.main-sidebar ul li a:hover,
.main-sidebar ul .active a {
    color: #ecedee;
    background-color: #354358;
}


/*main-sidebar para ocultar o menu quando está no PC*/

.main-sidebar.toggled {
    margin-left: -250px;
}


/*Configurações para tornar responsivo */

@media screen and (max-width: 250px) {
    .main-sidebar {
        margin-left: -250px;
        height: 100vh;
    }
    .main-sidebar.toggled {
        margin-left: 0px;
    }
    .container-fluid {
        grid-template-columns: -250px 3fr;
    }
    .container-fluid.muda {
        grid-template-columns: 0px 3fr;
    }
    .main-sidebar [data-toggle="collapse"]:before {
        content: "\f0d7";
        font-family: "Font Awesome 5 Free";
        font-weight: lighter;
        position: absolute;
        right: 1rem;
    }
}

.main-sidebar [data-toggle="collapse"] {
    position: relative;
}


/*Div da logo do menu*/

#logomenu {
    /* padding-left: 3.5rem; */
    position: relative;
    border-bottom: 1px solid #4f5962;
    text-align: center;
    color: ivory;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divlogo {
    position: relative;
    height: 100px;
    width: 200px;
}


/*Ícone de seta pra baixo*/

.main-sidebar [data-toggle="collapse"]:before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 1rem;
}


/*muda ícone da seta para baixo para ícone da seta para cima*/

.main-sidebar [aria-expanded="true"]:before {
    content: "\f0d8";
}


/*Coloca um fundo diferente no item selecionado no submenu quando o dropdown está aberto*/

.main-sidebar ul ul a {
    padding-left: 2.5rem;
    background-color: #1E2835;
}


/*Coloca um fundo diferente no item selecionado do menu principal quando o dropdown está aberto*/

.main-sidebar [aria-expanded="true"] {
    background-color: #19222d;
}


/*Seletor content*/


/*Seletor de título/*/

.titulo {
    font-size: 2.0rem !important;
}

.container-fluid {
    display: grid;
    grid-template-columns: 250px 3fr;
    grid-template-rows: 10vh 80vh 10vh;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding: 0;
    transition: 0.3s;
    grid-template-areas: "a h" "a m" "a f";
    
}

.container-fluid.muda {
    grid-template-columns: 0px 3fr;
    transition: 0.3s;
}

header {
    grid-area: h;
}

.content {
    grid-area: m;
    width: 95%;
    height: 100%;
    padding-top: 20;
    padding-right: 10px;
    padding-left: 20px;
    justify-self: auto;
    align-self: auto;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: ivory;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    overflow-x: auto;
    padding-bottom: 10px;
    background-color: #343a40;
}

.main-sidebar {
    float: left;
    grid-area: a;
    height: 100vh;
}


/* Menu superior */

footer {
    grid-area: f;
}


/*Fundo branco do menu dropdown de usuário*/

#menusup {
    background-color: rgb(205, 20, 20) !important;
}

#navbarDropdownMenuLink {
    background-color: #fff !important;
    justify-content: center;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    color: #212529 !important;
}

#dropdownusuarios {
    margin-top: -3px;
}


/* ---------------- Barra de rolagem---------------- */

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

 ::-webkit-scrollbar-track-piece {
    background: #aebcbf;
}

 ::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background: rgba(226, 10, 10, 0.803);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

 ::-webkit-scrollbar-thumb:horizontal {
    width: 2px;
    background-color: rgba(226, 10, 10, 0.803);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.modal {
    position: absolute !important;
    right: calc(100vh - 60%)
}

.modal-header,
.modal-footer {
    background-color: rgba(226, 10, 10, 0.803) !important;
}

.modal-body {
    padding: auto;
}

.modal-body,
.modal-content {
    position: relative;
    display: table;
    justify-content: center !important;
    /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    height: auto !important;
    min-width: 200px;
    min-height: 300px;
}

